@import "tailwindcss";

body{
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-container > *:last-child {
  margin-top: auto;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-card-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  width: 90%;
}


