@import "tailwindcss";

.movie-details-section{
  @apply flex flex-col mr-8 mb-10 mt-37 justify-center items-center ml-8 gap-8 
  
  sm:mt-13 sm:flex-col sm:max-w-[80%] sm:items-center sm:mx-35
}

.movie-img-div{
  @apply w-[70%]

  sm:w-[33%]
}

.movie-details{
  @apply flex justify-center items-center mb-5
 
}

.movie-details h2{
  @apply font-bold text-white m-4 text-[1.3rem]
}

.favourite-icon{
  @apply mt-6
}

.movie-image{
  @apply w-[100%] rounded-2xl
}

.movie-release-year, .movie-rating{
  @apply text-[1.2rem] font-medium text-white m-4
}
 
.overview{
  @apply flex flex-col items-start
}

.overview h5{
  @apply text-white
}

.overview{
  @apply mb-15
}

.container{
  @apply flex flex-col justify-center items-center

  sm:flex-row
}

.plot{
  @apply text-lg
}