.movie-details-page{
  display: flex;
  gap: 2rem;
  margin-top: 2.5rem;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.movie-img-div{
  width: 41%;
}

.movie-img-div img{
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
  height: 30rem;
}

.movie-release-year, .movie-rating, .movie-overview, .movie-details h2{
  font-size: 1.2rem;
  font-weight: 300;
  text-align: left;
  color: white;
  margin: 1rem;
}
