.privacy, .terms{
  font-size: 1rem;
  color: white;
  position: absolute;
  left: 2rem;
  bottom: 10rem;
  top: 4rem;
}

.privacy h2, .terms h2{
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2.5rem;
  margin-left: 35rem;
}

.privacy h2{
  margin-left: 25rem;
}

.privacy p, .terms p{
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  margin: .4rem;
  margin-bottom: 1rem;
}

.span{
  font-weight: 900;
}

