p{
  margin: 0;
  padding: 0;
}

.search-section{
  display: flex;
  flex-direction: column;
  width: 28rem;
  justify-content: center;
  align-items: center;
}

img{
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  width: 60%;
}

p{
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}

span{
  color: rgb(85, 85, 184);
}

.search-div{
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

input{
  background-color:rgb(85, 85, 184);
  padding: 0.35rem 0.287rem;
  border-radius: 0.15em;
  font-size: 0.69rem;
  color: white;
  width: 135%;
  align-content: center;
}

input::placeholder{
  color: rgba(255, 255, 255, 0.644);
}

button{
  padding: 0.185rem 1rem;
  background-color: rgb(190, 141, 17);
  color: white;
  border-radius: 0.15em;
  font-size: 0.9rem;
  cursor: pointer;
  width: 30%;
  font-weight: bold;
}

button:hover{
  background-color: rgb(194, 148, 33);
  color: white;
}

button:active{
  background-color: rgb(219, 169, 42);
  color: white;
}
